* {
  box-sizing: border-box;
}

.page-title {
  display: none;
}

#searchContainer {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

#myInput {
  display: block;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 420px;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin: 4em auto 2em auto;
}

.flexybox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.flexybox a {
  text-decoration: none;
  width: 50%;
  text-align: center;
  padding: 1em;
  margin-bottom: .5em
}

.flexybox img {
  width: 100%;
  transition: transform .2s ease-in;
}

.flexybox a:hover img {
  transform: scale(1.1);
}

.caption {
  position: absolute;
  bottom: 0;
  left: 25px;
  right: 25px;
  color: white;
  background: black;
  padding: 10px;
}

/* If screen size is more than 768px wide */
@media screen and (min-width: 768px) {
  .flexybox a {
    width: 25%;
  }
}
